@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
    --font-outfit: "Outfit", sans-serif;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    /* --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono); */
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #1a191e;
        --foreground: #ededed;
    }
}

* {
    box-sizing: border-box;
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: "Outfit", sans-serif;
    font-size: 20px;
    letter-spacing: 1.6px;
}
