@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
    --font-outfit: "Outfit", sans-serif;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    /* --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono); */
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #1a191e;
        --foreground: #ededed;
    }
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: "Outfit", sans-serif;
    font-size: 16px;
    letter-spacing: 1.6px;
}

.highlight-text {
    color: #3ccf91;
}

.animated-rgb-text {
    background-image: linear-gradient(
        to right,
        #545edc,
        #d152c4,
        #ff5e99,
        #ff8c6f,
        #ffc459,
        #f9f871
    );
    background-size: 150% 100%;
    background-position: 0% 0%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: rgbFlow 6s ease-in-out infinite;
}

@keyframes rgbFlow {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 0%;
    }
    100% {
        background-position: 0% 0%;
    }
}
